name: Lint with Ruff

on:
    push:
      branches: ["main"]
    pull_request:
      branches: ["*"]
    workflow_dispatch:

# Cancel in-progress runs when a new workflow with the same group is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    lint:
      name: Check code style
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v5
        - uses: astral-sh/ruff-action@v3
        - name: Check code formatting
          run: ruff format --diff
        - name: Lint code base
          run: ruff check