name: Lint

on:
    push:
      branches: ["main"]
    pull_request:
      branches: ["*"]
    workflow_dispatch:

# Cancel in-progress runs when a new workflow with the same group is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        enable-cache: true
    
    - name: Install dependencies
      run: uv sync --dev
    
    - name: Check formatting
      run: uv run ruff format --check .
    
    - name: Run linter
      run: uv run ruff check .
    
    - name: Run type checking
      run: uv run mypy src/extbpy